/*  we'll use gradient and filter.(WE CAN FIND on GRABIENT.COM, WEBGRADIENT.COM)*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.bgImage{
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(to bottom, rgba(0, 128, 128, 0.468), rgba(0, 0, 0, 0.534),rgba(0, 128, 0, 0.447)),url('https://images.unsplash.com/photo-1472214103451-9374bd1c798e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
  background-image: radial-gradient( rgba(0, 128, 128, 0.468), rgba(0, 0, 0, 0.534),rgba(0, 128, 0, 0.447)),url('https://images.unsplash.com/photo-1472214103451-9374bd1c798e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}