*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.bgImage{
  height: 100%;
  width: 100%;
  background-color: #00DBDE;

  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 2rem;
}

.link:link{
  /* pseudo selector unvisited link */
  color: red;
}

.visited:visited{
  /* color those which we've visited */
  color: #FC00FF;
}

.hover:hover{
  color: crimson;
}

.active:active{
  color: chartreuse;
}

