*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100vh;
  width: 100vw;
}

#page1{
  height: 100vh;
  width: 100vw;
  background-image: url('https://images.unsplash.com/photo-1700871795963-bef3a43444f1?q=80&w=2048&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#page2{
  height: 100vh;
  width: 100vw;
  background-image: url('https://images.unsplash.com/photo-1682685797140-c17807f8f217?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
  border-top: 2px rosybrown solid;
}

#card1{
  height: 220px;
  width: 200px;
  background-color: #dadada;
  z-index: 1;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}
#card1:hover{
  background-color: #fafafa1b;
  border: 2px rosybrown solid;
  box-shadow: rosybrown 2px 2px 7px;
}

#card2{
  height: 220px;
  width: 200px;
  background-color: #dadada;
  z-index: 1;
  border-radius: 2px;
  position:relative;
  display: flex;
  justify-content: center;
}
#card2:hover{
  background-color: #fafafa1b;
  border: 2px rosybrown solid;
  box-shadow: rosybrown 2px 2px 7px;
}
#card3{
  height: 220px;
  width: 200px;
  background-color: #dadada;
  z-index: 1;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

#card3:hover{
  background-color: #fafafa1b;
  border: 2px rosybrown solid;
  box-shadow: rosybrown 2px 2px 7px;
}

h2{
  font-weight: 600;
  color: rgba(216, 112, 147, 0.559);
}

p{
  margin: 40px;
  position: relative;
  overflow: hidden;
}

#page2 #btn{
  position: absolute;
  top: 80%;
  left: 50%;
}
#btn{
  padding: 5px;
  border: 1px black solid;
  border-radius: 4px;
  color: red;
  /* background-color: black; */
  background-color: #fafafa61;
  font-weight: 400;
  font-size: 20px;
}
#btn:hover{
  color: black;
  background-color: #fafafa1b;
  font-weight: 500;
  font-size: 25px;
  border: 5px;
  cursor: pointer;
  box-shadow: black 2px 2px 10px;
  z-index: 1;
}

