body{
  background-color: hsla(170, 65%, 42%, 0.5);
}

.p1{
  color: magenta;
}
.p2{
  color: rgba(196, 23, 49, 0.801);
}
.p3{
  color: rgba(194, 76, 18, 0.801);
}

section{
  width: 100;
  height: 100vh;
  display: grid;
  text-align: center;
}
.sec1{
  background-image:
  url('https://img.freepik.com/premium-vector/hanuman-jayanti-greeting-with-lord-hanuman-shadow-illustration-jai-shree-ram-hindi-calligraphy_428817-194.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
.li1:hover{
  color: rgb(148, 233, 172);
}

.sec2{
  background-image: url('https://img.freepik.com/free-vector/happy-maha-shivratri-indian-traditional-festival-background-vector_1055-13045.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
.li2:hover{
  color: blue;
}

.sec3{
  background-image: url('https://i.pinimg.com/736x/40/80/3f/40803f798349833d0feac1c182cdb983.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-size: cover;
  background-attachment: fixed;
}
.li3:hover{
  color: darkmagenta;
}